@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html
{
    --primary: #579c87;
    --textcolor: #fdcb46;
}
body
{
    margin: 0;
    padding: 0;
}
.header, .footer, .aside
{
    font-family: 'Montserrat', sans-serif;
    color: var(--textcolor);
    background-color: var(--primary);
}
/*header*/
.header
{
    height: 100px;
}
.header .header-title
{
    border: 1px solid black;
    font-size: 2.4em;
    font-weight: bolder;
    text-align: center;
}