@import url('https://fonts.googleapis.com/css?family=Croissant+One|Dancing+Script|Kalam|Kaushan+Script|Lora|Ma+Shan+Zheng|Montserrat|Nanum+Pen+Script&display=swap');
html
{
    --primary: #579c87;
    --textcolor: #fdcb46;
}
body
{
    margin: 0;
    padding: 0;
}
.header, .footer
{
    font-family: 'Montserrat', sans-serif;
    color: var(--textcolor);
    background-color: var(--primary);
}
/*header*/
.header
{
    height: 100px;
}
.header .header-title
{
    font-size: 2.4em;
    font-weight: bolder;
    text-align: center;
    padding-top: 26px;
    margin: 0;
}
/*menu*/
.section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 20px 50px 20px;
}
.page
{
    width: 300px;
    height: 500px;
    box-shadow: 0px 0px 10px lightgray;
    cursor: pointer;
    text-align: center;
    margin: 20px 20px;
}
.menu
{
    margin-top: 190px;
}

/*la note enchantée*/
.page-note
{
    background-color: #fcdfdb;
}
.note-title
{
    font-family: 'Ma Shan Zheng', cursive, sans-serif;
}
.note-menu
{
    font-family: 'Nanum Pen Script', cursive, sans-serif;
}
/*le chic à la français*/
.page-chic
{
    background-color: #fff5fe;
}
.chic-title
{
    font-family: 'Croissant One', cursive, sans-serif;
}
.chic-menu
{
    font-family: 'Croissant One', cursive, sans-serif;
}
/*le délice des papilles*/
.page-delice
{
    background-color: #f9f9f9;
}
.delice-title
{
    font-family: 'Dancing Script', cursive, sans-serif;
}
.delice-menu
{
    font-family: 'Nanum Pen Script', cursive, sans-serif;
}
/*le palette du goût*/
.page-palette
{
    background-color: #fdfffd;
}
.palette-title
{
    font-family: 'Kaushan Script', cursive, sans-serif;
}
.palette-menu
{
        font-family: 'Nanum Pen Script', cursive, sans-serif;
}
/*aside*/
.aside
{
    margin: 20px auto;
}
.button
{
    display: block;
    margin: 100px  auto;
    width: 280px;
    height: 50px;
    border: none;
    font-size: 1.8em;
    color: var(--textcolor);
    background-color: var(--primary);
    border-radius: 10px;
    cursor: pointer;
}
/*footer*/
.footer
{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.footer-link
{
    padding: 10px 20px;
    font-size: 1.4em;
    cursor: pointer;
}
/*menu 1 la note enchantée*/
.menu-1
{
    font-size: 0.8em;
    box-shadow: 0px 0px 10px lightgray;
    width: 460px;
    height: 600px;
    margin: 20px auto 70px;
}
.title-menu
{
    width: auto;
    height: 140px;
    font-size: 2.2em;
    text-align: center;
}
.section-menu
{
    display: flex;
    font-family: 'Nanum Pen Script', cursive, sans-serif;
    flex-wrap: wrap;
    justify-content: center;
}
p
{
    margin: 0;
}
.meal-part
{
    margin-top: 30px;
    width: 370px;
    height: auto;
    text-align: center;
}
.food
{
    width: 340px;
    height: auto;
}
.price
{
    width: 30px;
    height: auto;
    text-align: end;
}
.not-price
{
    width: 370px;
}
/*menu 2 le chic à la française*/
/*menu 3 le délice des papilles*/
/*menu 4 la palette du goût*/