@import url('https://fonts.googleapis.com/css?family=Croissant+One|Dancing+Script|Kalam|Averia+Libre|Kaushan+Script|Lora|Ma+Shan+Zheng|Montserrat|Montserrat:800|Nanum+Pen+Script&display=swap');
@keyframes shake 
{
    10%, 90% {transform: translate3d(-1px, 0, 0);}
    
    20%, 80% {transform: translate3d(2px, 0, 0);}
  
    30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
  
    40%, 60% {transform: translate3d(4px, 0, 0);}
}
@keyframes dotty 
{
    0%   { content: ''; }
    
    25%  { content: '.'; }
    
    50%  { content: '..'; }
    
    75%  { content: '...'; }
    
    100% { content: ''; }
}
html
{
    --primary: #579c87;
    --textcolor: #fdcb46;
}
body
{
    margin: 0;
    padding: 0;
}
.header
{
    color: var(--textcolor);
    background-color: var(--primary);
}
/*header*/
.header
{
    height: 100px;
}
.header .header-title 
{
    font-family: 'Montserrat:800', sans-serif;   
    font-size: 2.5em;
    letter-spacing: -3px;
    text-align: center;
    padding-top: 25px;
    margin: 0;
}
/*page index*/
.section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 20px 50px 20px;
    font-size: 0.5em;
}
.page
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 500px;
    box-shadow: 0px 0px 10px lightgray;
    cursor: pointer;
    margin: 20px 20px;
    text-decoration: none;
}
a
{
    text-decoration: none;
}
.note-menu, .delice-menu, .palette-menu
{
    font-family: 'Nanum Pen Script', cursive, sans-serif;
    font-size: 6em;
}
.chic-menu
{
    font-size: 4em;
    color: #c67412;
}
.delice-menu
{
    color: #229df9;
}
.palette-menu
{
    color: #72bf56;
}
.item
{
    transform: scale(1);
}
.item:hover
{
   transform: scale(1.15); 
   opacity: 0.6;
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
}
/*page mentions légales*/
.mentions
{
    font-family: 'Montserrat:800', sans-serif;   
    font-size: 1.5em;
    text-align: center;
    margin-top: 300px;
}
/*menu 1 la note enchantée*/
.page-note
{
    font-family: 'Averia+Libre', cursive, sans-serif;
    background-color: #fcdfdb;
    color: #3d1319;
}
.note-title
{
    font-family: 'Ma Shan Zheng', cursive, sans-serif;
    flex-direction: column;
    font-size: 3em;
}
.note-meal-part
{
    font-weight: bold;
    width: 130px;
}
.note-line
{
    background-color: black;
    width: 120px;
}
.fa-music
{
    background-image: linear-gradient(to right, #ef495f,#f58668) ;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0 5px 0 5px;
}
.small-title
{
    font-family: 'Ma Shan Zheng', cursive, sans-serif;
    text-align: center;
    font-weight: lighter;
    margin-top: 30px;
}
.big-logo
{
    font-size: 1.7em;
}
.small-logo
{
    font-size: 1.4em;
}
/*menu 2 le chic à la français*/
.page-chic
{
    font-family: 'Croissant One', cursive, sans-serif; 
    background-color: #fff5fe;
}
.chic-title
{
    background-image: linear-gradient(to right, #c67412,#a56799,#6e4ccc) ;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2.2em;
}
.chic-section
{
    font-size: 0.95em;
}
.chic-section-1
{
    color: #c67412;
}
.chic-line-1
{
    background-color: #c67412;   
}
.chic-section-2
{
    color: #a56799; 
}
.chic-line-2
{
    background-color: #a56799;
}
.chic-section-3
{
    color: #6e4ccc; 
}
.chic-line-3
{
    background-color: #6e4ccc;
}
.chic-meal-part, .delice-meal-part, .palette-meal-part
{
    width: 180px;
}
.chic-line, .delice-line, .palette-line
{
    width: 110px; 
}
/*menu 3 le délice des papilles*/
.page-delice
{
    font-family: 'Averia+Libre', cursive, sans-serif;
    background-color: #f9f9f9;
}
.delice-title
{
    font-family: 'Dancing Script', cursive, sans-serif;
    background-image: linear-gradient(to right, #0228dd,#229df9) ;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 4em;
}
.delice-line-1
{
    background-color: #0228dd;
}
.delice-line-2
{
    background-color: #0670f3;
}
.delice-line-3
{
    background-color: #229df9;
}
/*menu 4 le palette du goût*/
.page-palette
{
    font-family: 'Averia+Libre', cursive, sans-serif;
    background-color: #fdfffd;
}
.palette-title
{
    font-family: 'Kaushan Script', cursive, sans-serif;
    background-image: linear-gradient(to right,#41963c,#b6f87a) ;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 4em;
}
#palette-lines
{
    width: 120px;
    margin-top: 12px;
    height: 5px;
}
.palette-line
{
    background-image: linear-gradient(to right,#41963c,#b6f87a) ;
}
.palette-line-left
{
    background-image: linear-gradient(to left,#41963c,#b6f87a) ;
}
/*aside*/

.button
{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding: auto;
    align-items: center;
    margin: 100px  auto;
    width: 280px;
    height: 50px;
    font-size: 1.7em;
    color: var(--textcolor);
    background-color: var(--primary);
    border-radius: 10px;
    cursor: pointer;
}
.loading:after
{
  display: inline-block;
  animation: dotty 1s infinite;
  content: '';
}
.button:hover
{
    font-size: 2em;
}
/*footer*/
.footer
{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
}
.footer-link
{
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    cursor: pointer;
    color: var(--textcolor);
}
.footer-link:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
} 
/*règles communes pour toute les pages menu*/
.pointer-menu
{
    position: fixed;
    font-size: 2em;
    color: var(--textcolor);
    margin: 32px 0 0 30px;
}
/*page*/
.title
{
    margin-top: 40px;
    font-family: 'Montserrat:800', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}
.menu-1
{
    font-size: 0.65em;
    box-shadow: 0px 0px 10px lightgray;
    width: 460px;
    height: 640px;
    margin: 30px auto 80px;
}
.title-menu-1
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 140px;
}
.section-menu
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0 0px 0;
}
p
{
    line-height: 1.5px;
}
.meal-part
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: auto;
    font-size: 1.3em;
    text-align: center;
}
.meal-part:before
{
    content: '';
    position: absolute;
    width: 100%;
    transform: scale(0);
    height: 3px;
    bottom: 0px;
    left: 0;
    background-color: lightgray;
    transform-origin: bottom right;
    transition: transform 0.5s ease;
    margin-bottom: -10px;
}
.meal-part:hover::before
{
    transform: scale(1);
    transform-origin: bottom left;
    margin-bottom: -10px;
}
.line
{
    margin-top: 13px;
    height: 3px;
    border: none;
}
.food
{
    width: 340px;
    height: auto;
}
.price
{
    width: 30px;
    height: auto;
    text-align: end;
    font-size: 1.1em;
    font-weight: bold;
}
.not-price
{
    width: 370px;
}
@media screen and (max-width: 1450px)
{
    .section
    {
        max-width: 700px;
        margin: auto;
    }
    .page
    {
        justify-content: space-around;
        font-size: 0.8em;
        width: 200px;
        height: 300px;
    }
    .button
    {
        margin-top: 20px;
        margin-bottom: 70px;
    }
}
@media screen and (max-width: 500px)
{
    .menu-1
    {
        width: 350px;
        height: 800px;
        text-align: center;
    }
    .line
    {
        display: none;
    }
}
